.TopHeadingServiceCard{
    height: 147.02px;
background: #FFFFFF;
box-shadow: 0px 5.07432px 25.3716px 2.96002px rgba(57, 57, 57, 0.15);
border-radius: 17.9289px;
padding: 10px;
max-width: 150px;
width: 100%;
margin: 50px 10px;

}

.special-card{
    background: linear-gradient(48.55deg, #FFA500 -6.74%, #FFECCA 120.59%);
    height: 147.02px;
    box-shadow: 0px 5.07432px 25.3716px 2.96002px rgba(57, 57, 57, 0.15);
    border-radius: 17.9289px;
    padding: 10px;
    max-width: 150px;
    width: 100%;
    margin: 50px 5px;

    color: #FFFFFF;
}

.top-image{
width: 142.08px;
height: 142.08px;
margin-top: -45%;
}

.top-name{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 20.3194px;
}

@media only screen and (max-width:900px) {
  
    .TopHeadingServiceCard{
     height: 130.02px;
    border-radius: 13.9289px;
    
    
    margin: 35px 10px;
    
    }
    .special-card{
        height: 130.02px;
        border-radius: 13.9289px;
        margin: 35px 5px;
    
        color: #FFFFFF;
    }

  
        
        .top-name{
        font-size: 15.3194px;
        }
    
}

