.navbar {
    background: #F7F7F7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 59px;
    display: flex;
    justify-content: space-around;
    padding: 0 5px;

}



.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.logo {
    height: 37px;
    width: 80px;
  

}

.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #415859;
    display: flex;
    margin-right: 5px;

    align-items: center;
    
}

.address-icon {
    width: 12.43px;
    height: 15px;
    margin-left: 15px;
    
}

.navbar-right {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.08em;
   
    color: #415859;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 300px;

}

.navbar-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
    width: 100%;
}

.download {
    display: flex;
    height: 38px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #415859;
    border-radius: 5px;
    max-width: 150px;
    width: 100%;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.025em;
    color: #415859;


}



#playstore-icon {
    height: 20px;
    width: 20px;

}

#cart-icon {
    height: 30px;
    width: 30px;
    

}

.android-navbar-address{
    display: none;
}

.android{
    display: none;
}




@media only screen and (max-width: 900px) {

    .navbar-left {
        
        max-width: 400px;
        
    }

    .logo {
        height: 25px;
        width: 50px;
      
    
    }
    .address {
      
        font-size: 10px;
        line-height: 10px;
        
        
    }
    
    .address-icon {
        width: 8.43px;
        height: 10px;
        margin-left: 10px;
        
    }

    .navbar-right {
        max-width: 300px;
       
    }

    .navbar-content {
        font-size: 10px;
        letter-spacing: 0.02em;
       
    }
    .navbar-buttons {
       
        max-width: 150px;
       
    }

    .download {
        display: flex;
        height: 25px;
        max-width: 100px;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.015em;
        
    
    }

    #playstore-icon {
        height: 12.5px;
        width: 12.5px;
    
    }
    
    #cart-icon {
        height: 20px;
        width: 20px;
        
    
    }


}
@media only screen and (max-width: 515px) {

.navbar{
    height: 83px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    justify-content: center;
 
}   

.navbar-left{
    display: none;
}

.navbar-right{
    display: none;
}

.android-navbar-address{
    display: flex ;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #415859;

    margin-top: 10px;

}

.android{
    display: block;
}


}