.stamp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stamp-content{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 36px;


}
.stamp-image{
    width: 235px;
    height: 235px;
}
@media only screen and (max-width:900px) {
    .stamp-content{
        font-family: 'Montserrat';
font-weight: 400;
font-size: 25px;
    }

    .stamp-image{
        width: 120px;
        height: 120px;
    }
    
}
@media only screen and (max-width:515px) {
    .stamp-content{
        font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
    }

    .stamp-image{
        width: 80px;
        height: 80px;
    }
    
}