.home-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 736px;
    width: 100%;
    background: url("../../assets/images/bg.svg") no-repeat;
}

.home-service-content {
    font-family: 'Montserrat';

    font-weight: 700;
    font-size: 48px;

    color: #FFFFFF;
}

.home-service-example {
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 17.4521px;

    color: #FFFFFF;
}

.home-service-android {
    display: block;
}

@media only screen and (max-width: 850px) {

    .home-service-android {
        display: none;
    }


}