.AllServiceList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 10px;
}

#single-service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}