.advantage{
    margin-top: 30px;
    
}

.advantage-pc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 427px;
    padding: 10px;

background: #E5E4E9;
    

}

.advantage-image-pc{
    max-width: 581.8px;
    height: 428px;
}

.advantage-content-pc{
    width: 496.34px;
height: 350px;


background: #FFFFFF;
}

.advantage-list-pc {
    font-family: 'Roboto';
font-weight: 600;
font-size: 24px;
}

.advantage-android{
    display: none;
    
}

.advantage-title-android{
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
color: #E8625D;
}

.advantage-list-android{
   
display: flex;
flex-direction: column;
margin-top: 10px;
width: 100%;
    
}

.advantage-android-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    
    color: #025B5D;
    margin: 5px;
    
}



.advantage-image-android{
    width: 200px;
height: 210.5px;
}


.advantage-android-list-image{
    height: 20.91px;
}


@media only screen and (max-width: 900px) {
    .advantage-image-pc{
        width: 300.8px;
        height: 250px;
    }
    
    .advantage-content-pc{
        width: 350.34px;
    height: 200px;
   
    }
    
    .advantage-list-pc {
        
    font-size: 15px;
    }

    
}
@media only screen and (max-width: 515px) {

    .advantage-android{
        display: flex;
        justify-content: space-evenly;
    }

    .advantage-pc{
        display: none;
    }
}