.all-service{
    width:100%;
    height: 736px;
    
}
.all-service-heading{
font-family: 'Montserrat';
font-weight: 600;
font-size: 36px;
margin-top: 10px;
color: #353535;
}

.offer{
height: 31.32px;
width: 180px;
margin-left: auto;
background: #E8625D;
font-family: 'Mulish';
font-weight: 800;
font-size: 18.3333px;
color: #FCFCFC;
}

.all-service-carousel{
    margin-top: 30px;
}


.rec.rec-arrow:disabled {
    visibility: hidden;
}

.all-service-carousel-image{
  
  height: 180px;
  width: 100%;
  margin: 0px 15px;
  
}

.all-service-android{
    display: none;
}
.all-service-pc{
    display: block;
}




@media only screen and (max-width: 850px) {
    
    .all-service-android{
        display: block;
    }

    .all-service-pc{
        display: none;
    }

    .android-offer{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        color: #025B5D;
       text-align: left;
       margin: 10px ;
    }
}



